@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
  background-size: center;
  position: relative;
  z-index: -3;
}

#bg-video {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  width: 500px;
  padding: 20px 30px;
  color: rgb(255, 255, 255);
  border: 2px solid #ffffff28;
  border-radius: 20px;
  box-shadow: rgb(0, 0, 0) 0px 0px 40px 20px;
  background-color: rgba(0, 0, 0, 0.61);
}
.container h1 {
  font-size: 30px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  margin: 30px 0px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #ff000027;
  padding: 20px 0px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.575) 0px 0px 20px 10px;
  border-radius: 25px;
  color: #fff;
  font-size: 19px;
  outline: none;
}

.input-box input:hover {
  transition: 1s;
  color: #ff6161;
}

.input-box input::placeholder {
  color: #ffffff9a;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forget {
  margin: -10px 0px 20px;
  display: flex;
  justify-content: space-between;
}

.remember-forget label input {
  accent-color: #686767;
  margin-right: 5px;
  cursor: pointer;
}
.remember-forget a {
  text-decoration: none;
  color: #ffffff;
}

.remember-forget a:hover {
  text-decoration: underline;
  color: #ff6161;
}

button {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 10px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.575) 0px 0px 20px 9px;
  border-radius: 30px;
  color: #fff;
  font-size: 25px;
  /* animation: bordaAnimada 3s linear infinite; */
}
/* 
@keyframes bordaAnimada{
  0%   { background: #ff0000; }
  33%  {background: #ffc400; }
  66%  {background: #0000ff; }
  100% { background: #ff0000; }
} */

button:hover {
  background: #fd000065;
  transition: 0.5s;
}

.register-link {
  text-align: center;
  margin: 25px 0px -2px;
  p a {
    margin-left: 10px;
  }
}
.register-link a {
  text-decoration: none;
  color: #fff;
}
.register-link a:hover {
  text-decoration: underline;
  color: #ff6161;
}
.register-link p {
  margin: 0px 0px 0px -220px;
}


